<div class="jumbotron">
	<h1>CSGO Stats Directory</h1>
</div>
<body>
<style>
      #heatmapContainerWrapper { width:1900px; height:1000px; position:static; background:rgba(0,0,0,.1); margin: center; top: 50%; left: 50%; }
	  #container { width: 300px; : 300px; background-color: #cc99ff; margin: left; position:static; }
	  #heatmapContainer { width:100%; height:100%;}
	  #MongoContainer { width: 1000px; background-color: #ff0000; margin: right; position:static; }
</style>

<h1>Heatmap</h1>
<div id="heatmapContainerWrapper">
      <div id="heatmapContainer">
		<div style="map" #map>

		</div>
	</div>
</div>

<entries></entries>
