<div class="jumbotron">
<h1>CSGO Stats Directory</h1><br>
<h1>Dust 2 Heatmap</h1>
</div>
<body>
<style>
	  #map { width: 1023px; height: 1023px;}
	  #container { width: 300px; height: 300px; background-color: #cc99ff; margin: left; position:static; }
	  #heatmapContainerWrapper { width:1000px; height:1023px; position:static; background:rgba(0,0,0,.1); vertical-align: middle; margin-left: 675px;}
	  #heatmapContainer { width:100%; height:100%;}
	  #MongoContainer { width: 1000px; background-color: #ff0000; margin: right; position:static; }
</style>

<div class="map" id="heatmapContainerWrapper">
      <div class="map" id="heatmapContainer">
		<div class="map" style="map" #map>
		<img src="https://storage.googleapis.com/kagglesdsdata/datasets/2644/102041/de_dust2.png?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1576707271&Signature=eN4ROR9iYHMC4fBf1%2BpT5qhJdZ2%2BLAweel%2BJAJ4yAj9cbdJEemEKNRa4G6odNPmJ7g8Mqikdtjk6Y2BQV4AkinTPbBHc2a3GiQDV8OYkhW6LLpkw%2BtPzS6O1B3uthywVg7UmzCqG5axN5ieUg1gvDy8C%2Fi5tzmSypn4QcUL3WfDYDBIW2nGIyfaFIo%2Bss82f1MGuyHYXO5WCxDXK8V3G%2FRfWe8q03LVLleiv47hpXKkjNTKmnjZk9Ra4S1MI1yrf4e13Zmy6xEDj6q1NkQTlva9VpUVH3mELqw5vhVzGPfSzVQn01hxD7hJ6suI6i%2FyfufClbIjcssqD3e6kcTwhLQ%3D%3D">
		</div>
	</div>
</div>
<div class="jumbotron"> 
<h1>Heatmap Test Data </h1>
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-12">
	<div class="test" *ngFor =
		"let entries of entries_list">
	 <div class="card text-white bg-primary mb-3" 
	 	[routerLink]="['/entries', entries._id]"  
	 	style="cursor: pointer">
	  <div class="card-header">
		Map : 
		{{ entries.map }}
	  </div>
	  <div class="card-body">
	   Round Number :
		{{ entries.round }}
	   Weapon Type :
		{{ entries.wp_type }}
	   X Posistion :
		{{ entries.att_pos_x }}
	   Y Posistion :
		{{ entries.att_pos_y }}
	   Round Type :
		{{ entries.round_type }}
	  </div>
	  <div class="card-footer">
		Weapon :
		{{ entries.wp }}
	  </div>
	 </div>
	</div>
   </div> <!-- col -->
  </div> <!-- row -->
  
 <div class="row"> 
	<div class="col-sm-6">
		<button class="btn btn-primary"(click)="previousPage()">Previous</button>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-primary"(click)="nextPage()">Next</button>
	</div>
</div>
</div> <!-- container -->