<div class="jumbotron">
<h1>CSGO Stats Directory</h1>
<h1>Entry Directory</h1>
</div>
<body>
<style>
	  #map { width: 1023px; height: 1023px;}
	  #container { width: 300px; height: 300px; background-color: #cc99ff; margin: left; position:static; }
	  #heatmapContainerWrapper { width:1000px; height:1023px; position:static; background:rgba(0,0,0,.1); vertical-align: middle; margin-left: 450px;}
	  #heatmapContainer { width:100%; height:100%;}
	  #MongoContainer { width: 1000px; background-color: #ff0000; margin: right; position:static; }
</style>

<div class="map" id="heatmapContainerWrapper">
      <div class="map" id="heatmapContainer">
		<div class="map" style="map" #map>
			<img src="assets/de_dust2.png">
		</div>
	</div>
</div>
<div class="jumbotron">
<h1>Heatmap Entry Data </h1>
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-12">
	 <div class="card text-white bg-primary mb-3">
	  <div class="card-header">
		Map : 
		{{ entry.map }}
	  </div>
	  <div class="card-body">
	   Round Number :
		{{ entry.round }},
	   Weapon Type :
		{{ entry.wp_type }},
	   X Posistion :
		{{ entry.att_pos_x }},
	   Y Posistion :
		{{ entry.att_pos_y }},
	   Round Type :
		{{ entry.round_type }},
	   HP Damage Dealt :
		{{ entry.hp_dmg }},
	  </div>
	  <div class="card-footer">
		Weapon :
		{{ entry.wp }}
	 </div>
	</div>
   </div> <!-- col -->
  </div> <!-- row -->
 </div>
<div class="jumbotron">
<h1>Add Data </h1>
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-12">
	<h2>Please submit new data</h2>
		<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="new_map">Game Map (de_dust2, de_mirage, de_cache)</label>
			<input type="text" id="new_map" map="new_map" class="form-control" formControlName="new_map">
		</div>
		<div class="form-group">
			<label for="new_pos_x">X Posistion (Whole number posistion between 1 and 1000)</label>
			<input type="number" id="new_pos_x" att_pos_x="new_pos_x" class="form-control" formControlName="new_pos_x">
		</div>
		<div class="form-group">
			<label for="new_pos_y">Y Posistion (Whole number posistion between 1 and 1000)</label>
			<input type="number" id="new_pos_y" att_pos_y="new_pos_y" class="form-control" formControlName="new_pos_y">
		</div>
		<div class="form-group">
			<label for="new_dmg">HP Damage dealt to player (0 to 100)</label>
			<input type="number" id="new_dmg" hp_dmg="new_dmg" class="form-control" formControlName="new_dmg">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	 </form>
	</div>
  </div> <!-- row -->
</div> <!-- col -->