<h1>COM661 CSGO Heatmap Project</h1>

<h2>Project Overview</h2>

<h3>
<br>
This COM661 Project is an angular full-stack application using MongoDB, Python API and Angular 8.<br>
This project using Heatmap.js will plot data points of Counter Strike matches onto a heatmap<br>
where users can submit their own data to add to the existing heatmap or edit already created data.<br>
This application will focus on the most popular map of the Video game known as Dust 2, this map<br>
was originally created March 13th 2001, by David Johnston and is still seen in play to this day.<br>
This map has also been adapted by numerous other games and the map design has changed little<br>
since the inital design of the map to this day. For this reason I decided to focus on this<br>
map and provide useful information regarding player damage on the heatmap I have created.<br>
<br>
</h3>
<h2 class>2018 Remake Counter Strike : Global Offensive </h2>
<img src="assets/csgo_dust2.0.jpg" class="center">
<h2>2012 Counter Strike : Global Offensive Release</h2>
<img src="assets/csgo_dustSource.jpg" class="center">
<h2>2001 Counter Strike Version 1.6 Release</h2>
<img src="assets/csgo_dust1.6.jpg" class="center">

<h4>Created by Kurtis Robinson, B00718701</h4>