<div class="navbar navbar-expanded-sm bg-primary navbar-dark fixed-top">
<span class="navbar-brand">CSGOStats</span>
<style>
ul {float: left;, margin-right: 200px;}
</style>
	<div class="form-inline m1-auto">
			<ul class="navbar-nav" id="big" style="flex-direction: row; margin-right : 50px;">
			<li class="nav-item" style="margin-right : 50px;">
				<a class="nav-link" routerLink='/de_dust2'>Dust 2 Heatmap</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink='/'>Home</a>
			</li>
		</ul>
		<button *ngIf="!authService.loggedIn" class="btn btn-outline-light" (click)="authService.login()">Log In</button>
		<button *ngIf="authService.loggedIn" class="btn btn-primary" (click)="authService.logout()">Log Out</button>
	</div>
</div>